@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e4e3f5;

  margin: 0;
  padding: 0;
}

.show-grid::-webkit-scrollbar-track {
  background-color: transparent;
}

.show-grid::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

.show-grid::-webkit-scrollbar-thumb {
  background-color: #645f5f;
}

.show-grid {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(min-content, max-content);
  height: calc(100% - 100px);
  overflow-y: auto;
  scrollbar-color: red transparent;
  scrollbar-width: thin;
}

.error {
  text-align: center;
  font-size: 24px;
  animation: poof 0.5s;
  color: #0f0f0f;
}
.bar::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
}
.bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
.bar::-webkit-scrollbar-track {
  background-color: transparent;
}

@keyframes poof {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
